:root{
  --heightScoreZone: 30px;
  --heightPlayerZone: 40px;
  --heightBody: 100vh;
  --heightWordZone: calc(var(--heightBody) - var(--heightScoreZone) - var(--heightPlayerZone));
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: var(--heightBody);
  font-family: Arial, Helvetica, sans-serif;
}

.game-zone {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.word-zone {
  flex: 1;
  height: var(--heightWordZone);
  background-color: darkgreen;
  color: white;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: right;
}

.word-zone p{
  margin: 2px;
  text-align: center;
  width: 200px;
}

.score-zone {
  text-align: center;
  height: var(--heightScoreZone);
}

.player-zone {
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  height: var(--heightPlayerZone);
  padding: 10px;

  background-color: lightcyan;
}